<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

    <title>Hi!</title>
</head>
<body>

<header>
    <div class="pure-g">
        <div class="pure-u-3-5">
            <div class="pure-menu pure-menu-horizontal" id="navbar">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-selected">
                        <a href="#" class="pure-menu-link">Home</a>
                    </li>
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" id="menuLink1" class="pure-menu-link">Contact</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">Email</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">Twitter</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">Tumblr Blog</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   
</header>

<div class="pure-g">
    <div class="pure-u-1-5"><p>

        <h1>Hello from Render</h1>
        {% if name %}
        <h2>and hello to {{name}}</h2>
        {% endif %}
        <div class="pure-menu custom-restricted-width">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected">
                    <a href="#" class="pure-menu-link">Flickr</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Messenger</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Sports</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Finance</a>
                </li>
                <li class="pure-menu-item pure-menu-has-children">
                    <a href="#" id="menuLink1" class="pure-menu-link">More</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item">
                            <a href="#" class="pure-menu-link">Autos</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="#" class="pure-menu-link">Flickr</a>
                        </li>
                        <li class="pure-menu-item pure-menu-has-children">
                            <a href="#" id="menuLink1" class="pure-menu-link">Even More</a>
                            <ul class="pure-menu-children">
                                <li class="pure-menu-item">
                                    <a href="#" class="pure-menu-link">Foo</a>
                                </li>
                                <li class="pure-menu-item">
                                    <a href="#" class="pure-menu-link">Bar</a>
                                </li>
                                <li class="pure-menu-item">
                                    <a href="#" class="pure-menu-link">Baz</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </p></div>
    <div class="pure-u-3-5">

        <form action="{{ url_for('handleSubmit')}}" method="post">
            <div class="form-input">
                <label for="name">Name:</label>
                <input type="text" 
                       id="name" name="name" 
                       required>
            </div>
            <div class="form-input">
                <label for="why">Why are you here</label>
                <input type="text" 
                       id="why" name="why" 
                       >
            </div>
            <div class="btn"><button type="submit">
                    Add Guest
                </button></div>
        </form>
    </div>
    <div class="pure-u-1-5">
        <div class="div-table">
            {% if data %}
            <div class="div-table-row">
                <div class="div-table-col" align="center">name</div>
                <div  class="div-table-col">why</div>
             </div>
            {% for entry in data %}
           <div class="div-table-row">
                 <div class="div-table-col">{{ entry }}</div>
           </div>
           {% endfor %}
           {% else %}
     </div>
     {% endif %}
   </div>
</div>

<footer>
    <div class="pure-g">
        <div class="pure-u-3-5">
            <div class="pure-menu pure-menu-horizontal" id="navbar">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-selected">
                        <a href="#" class="pure-menu-link">foot</a>
                    </li>
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" id="menuLink1" class="pure-menu-link">feet</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">foot</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">feet</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">foot</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
        
</body>
</html>